* {
	box-sizing: border-box;
}
body {
	background: black;
	text-align: left;
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.25rem;
	margin-bottom: 0;
	margin-top: 0;
}
h4 {
	font-size: 1rem;
	font-weight: bold;
}
ul {
	margin-left: 0;
	padding-left: 1.25em;
}
li {
	text-align: left;
	margin-left: 0;
	padding-left: 0;
}
