* {
	box-sizing: border-box;
}
html {
	font-size: 14px;
}
body {
	background: black;
	text-align: left;
	color: white;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}
h1 {
	font-size: 1.45rem;
}
h2 {
	font-size: 1.3rem;
}
h3 {
	font-size: 1.15rem;
	margin: 0;
}
h4 {
	font-size: 1rem;
	font-weight: bold;
	text-decoration: underline;
}

ul {
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 0;
	list-style-type: none;
}
li {
	text-align: left;
	padding-bottom: 0;
	padding-top: 0;
	clear: both;
	margin: 0;
}
a {
	color: lightblue;
}
img {
	max-width: 75px;
	object-fit: cover;
	display: inline-block;
	margin-top: 1em;
}
h4 {
	margin-bottom: 0;
}
