* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background: black;
	text-align: left;
	color: red !important;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.25rem;
}
h4 {
	font-size: 1rem;
	font-weight: bold;
}
li {
	text-align: left;
}
